.main-navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #285059;
  color: white;
  z-index: 99;

  .menu-list {
    display: flex;
    flex-direction: row;

    ::ng-deep .mdc-list-item__primary-text {
      color: white;
      font-size: 14px;
      letter-spacing: 3px;
    }

    ::ng-deep .mdc-list-item__content {
      overflow: unset;
    }
  }

  mat-icon {
    color: white;
  }
}
