<nav class="main-navbar">
  <div routerLink="/client/dashboard" class="main-logo">
    <img src="assets/images/logo.webp" />
  </div>

  <ul class="menu-list">
    <li>
      <a routerLink="/client/dashboard" routerLinkActive="active-link"
        >Головна</a
      >
    </li>
    <li>
      <a routerLink="/client/shop-list" routerLinkActive="active-link"
        >Магазин</a
      >
    </li>
    <li>
      <a routerLink="/client/contact" routerLinkActive="active-link"
        >Контакти</a
      >
    </li>
  </ul>

  <button
    routerLink="/client/shop-cart"
    mat-icon-button
    matBadge="{{ itemCount }}"
    matTooltip="Кошик товарів"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</nav>
