<mat-toolbar class="main-navbar">
  <div>
    <a routerLink="/client/dashboard">Client logo</a>
  </div>
  <div>
    <mat-nav-list role="list" class="menu-list">
      <a mat-list-item routerLink="/client/dashboard">Головна</a>
      <a mat-list-item routerLink="/client/shop-list">Магазин</a>
      <a mat-list-item>Контакти</a>
    </mat-nav-list>
  </div>

  <button
    routerLink="/client/shop-cart"
    mat-icon-button
    matBadge="{{ itemCount }}"
    matBadgeColor="accent"
    aria-label="Example icon-button with a badge"
  >
    <mat-icon>shopping_bag</mat-icon>
  </button>
</mat-toolbar>
