@use "../../../assets/scss/variables" as vars;

.top-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: vars.$black-color;
  z-index: 99;
  padding: 12px 16px 12px 28px;
  border-bottom: 1px solid vars.$border-color;

  .operation {
    font-size: 14px;
    color: vars.$white-color;
    column-gap: 12px;
    display: flex;
    font-weight: 500;

    &-title {
      font-size: 14px;
    }

    &-time {
      color: vars.$red-color;
    }
  }

  .number {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: vars.$white-color;
  }
}

.main-navbar {
  position: sticky;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: vars.$white-color;
  z-index: 99;
  padding: 0 16px;
  border-bottom: 1px solid vars.$border-color;

  .main-logo {
    max-width: 65px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .menu-list {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    a {
      font-size: 12px;
      color: vars.$black-color;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding: 16px;
      font-weight: 600;
    }
  }

  mat-icon {
    color: vars.$black-color;
    height: 30px;
    width: 30px;
    font-size: 30px;
  }
}

.active-link {
  color: vars.$red-color !important;
}
