<app-heading [title]="title"></app-heading>
<div class="product-details">
  <app-slider></app-slider>

  <div class="product-details-info">
    <div class="main-details">
      <div class="main-details-item">
        <div>Виробник:</div>
        <div>Miriam</div>
      </div>
      <div class="main-details-item">
        <div>Гарантія:</div>
        <div>12 місяців</div>
      </div>
      <div class="main-details-item">
        <div>Термін виготовлення:</div>
        <div>10 днів</div>
      </div>
    </div>
    <div class="price-details">
      <div class="price-details-value">2500 грн</div>
      <div>Ціна вказана за базову комплектацію</div>
    </div>
    <div class="btn-group">
      <button class="primary-button basket">
        <mat-icon>shopping_cart</mat-icon>
        <span>До кошика</span>
      </button>
    </div>
  </div>
</div>
<div class="product-сharacteristics">
  <mat-tab-group class="product-tab">
    <mat-tab label="Опис">
      <div class="content">
        <div class="param-title">Оберіть необхідні параметри:</div>
        @for(config of calculatePriceService.parameterConfigs; track config.key)
        {
        <div class="height-option-box">
          <h3>{{ config.key }}</h3>

          <div class="height-grid">
            @for(option of config.options; track option) {
            <div>
              <label
                [class.selected]="option.value === selectedValues[config.key]()"
              >
                <input
                  hidden
                  type="radio"
                  [value]="option.value"
                  [checked]="option.value === selectedValues[config.key]()"
                  (change)="selectOption(config.key, option.value)"
                />
                <div class="option-label">{{ option.value }} мм</div>
              </label>

              @if(option.value !== selectedValues[config.key]()) {
              <div class="price-diff">
                {{ differences[config.key]()[option.value] > 0 ? "+" : "" }}
                {{ differences[config.key]()[option.value] }} грн
              </div>
              }
            </div>
            }
          </div>
        </div>
        }
      </div>
    </mat-tab>
    <mat-tab label="Характеристики">
      <div class="content">Характеристики</div>
    </mat-tab>
  </mat-tab-group>
</div>
