.product-details {
  display: flex;
  column-gap: 25px;

  .slider-container {
    width: 60%;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .general-info {
    width: 40%;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.gallery-container {
  display: flex;
  gap: 10px;
}

.main-image {
  width: 70%;
}

.main-slide-img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.thumbs-swiper-container {
  position: relative;
  width: 30%;
  height: 545px;
}

.thumbs-swiper {
  width: 100%;
  height: 100%;
}

.thumb-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.5;
  transition: opacity 0.3s, border 0.3s;
}

swiper-slide.active .thumb-img {
  opacity: 1;
  border: 2px solid #007bff;
}

.thumbs-swiper::part(button-prev),
.thumbs-swiper::part(button-next) {
  position: absolute;
  right: 5px;
  z-index: 10;
  background-color: rgba(0, 123, 255, 0.8);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  font-size: 16px;
}

.thumbs-swiper::part(button-prev) {
  transform: rotate(90deg);
  top: 14px;
  left: 40%;
}

.thumbs-swiper::part(button-next) {
  top: 91%;
  right: 45%;
  transform: rotate(90deg);
}

.thumbs-swiper::part(button-prev):hover,
.thumbs-swiper::part(button-next):hover {
  background-color: rgba(0, 123, 255, 1);
}
