.shop-card {
  max-width: 1200px;
}

.total-cost {
  font-size: 22px;
  font-weight: 500;
}

.product-actions {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
}

.btn-group {
  display: flex;
  align-items: center;
  column-gap: 16px;

  .shop-btn {
    background-color: #285059 !important;
  }
}

.mdc-button:disabled {
  color: #b7b1b1;
}

.mat-icon {
  color: #285059;
}

.remove-btn {
  margin-left: -12px;
}

.quantity-btn {
  background: #285059;
  color: white;
}
