<div>
  <app-heading [title]="title"></app-heading>

  <form [formGroup]="form" class="order-form">
    <mat-form-field appearance="fill">
      <mat-label>Ім'я</mat-label>
      <input matInput formControlName="firstName" />
      @if(form.get('firstName')?.errors?.['required']) {
      <mat-error>Ім'я не можк бути пустим</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Прізвище</mat-label>
      <input matInput formControlName="lastName" />
      @if(form.get('lastName')?.errors?.['required']) {
      <mat-error>Прізвище не може бути пустим</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Електронна пошта</mat-label>
      <input matInput formControlName="email" />
      @if(form.get('email')?.errors?.['required']) {
      <mat-error> Email is required </mat-error>
      } @if(form.get('email')?.errors?.['email']) {
      <mat-error> Please enter a valid email </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Мобільниий телефон</mat-label>
      <input matInput formControlName="phone" />

      @if(form.get('phone')?.errors?.['required']) {
      <mat-error> Phone is required </mat-error>
      } @if(form.get('phone')?.errors?.['pattern']) {
      <mat-error> Please enter a valid phone number </mat-error>
      }
    </mat-form-field>

    <div formArrayName="items">
      @for(item of items.controls; track item; let index = $index) {
      <div [formGroupName]="index" class="purchase-items">
        <mat-form-field appearance="fill">
          <mat-label>Кількість</mat-label>
          <input matInput type="number" formControlName="quantity" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ціна</mat-label>
          <input matInput type="text" formControlName="price" />
        </mat-form-field>
      </div>
      }
    </div>
    <div>
      <h3>Спосіб доставки</h3>
      <mat-form-field appearance="fill">
        <mat-label>Виберіть місто</mat-label>
        <input
          type="text"
          matInput
          formControlName="city"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onCitySelected($event)"
        >
          @for(city of cities; track city.CityID) {
          <mat-option [value]="city.Description">
            {{ city.Description }}
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Виберіть відділення</mat-label>
        <input
          matInput
          formControlName="departmentNumber"
          [matAutocomplete]="autoBranch"
        />
        <mat-autocomplete #autoBranch="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option.Description">{{
            option.Description
          }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Коментар</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
    <div class="actions">
      <div class="total-cost">Загальна вартість: {{ getTotalCost }} ₴</div>
      <div class="btn-group">
        <button mat-flat-button routerLink="/client/shop-cart">Кошик</button>
        <button
          [disabled]="!form.valid"
          mat-flat-button
          (click)="createOrder()"
        >
          Створити замовлення
        </button>
      </div>
    </div>
  </form>
</div>
