<div class="product-details-slider">
  <swiper-container
    class="main-swiper"
    thumbs-swiper=".thumbs-swiper"
    navigation="true"
    pagination="true"
    space-between="10"
    slides-per-view="1"
    pagination-clickable="true"
    id="swiper-gallery"
  >
    <swiper-slide *ngFor="let img of images; let i = index">
      <div
        class="zoomable-img"
        (click)="openLightbox(i)"
        role="button"
        tabindex="0"
      >
        <img [src]="img" alt="Slide image" />
      </div>
    </swiper-slide>
  </swiper-container>

  <swiper-container
    class="thumbs-swiper"
    slides-per-view="4"
    space-between="10"
    watch-slides-progress="true"
  >
    <swiper-slide *ngFor="let img of images">
      <img [src]="img" class="thumb-img" alt="Thumbnail" />
    </swiper-slide>
  </swiper-container>
</div>
