@use "@angular/material" as mat;
@use "../../../../assets/scss//variables" as vars;

.card {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  .product-details {
    padding: 12px;

    &-title {
      font-size: 14px;
      font-weight: 500;
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .price {
      font-size: 16px;
    }

    .mat-icon {
      color: vars.$black-color;
    }
  }
  &:hover {
    box-shadow: 0 0 0 2px vars.$black-color;
    border-radius: 2px;
  }
}
