@use "@angular/material" as mat;

.card {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  .product-details {
    padding: 12px;

    &-title {
      font-size: 14px;
      font-weight: 500;
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .price {
      font-size: 16px;
    }

    .mat-icon {
      color: #285059;
    }
  }
  &:hover {
    box-shadow: 0 0 0 3px #87cbdb;
  }
}
